body {
    font-size: 18px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2937;
}

.header-top, .header-item, .info, .quote, .action-call, .footer {
    display: flex;
    border: 2px solid black;
    padding-right: 200px;
    padding-left: 200px;
}

.header-top, .header-item, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-top, .footer {
    height: 50px;
    align-items: center;
}

.header-item {
    height: 400px;
    align-items: center;
}

.header.title {
    font-size: 48px;
    font-weight: 800;
}

.header.container {
    flex: 1;
    display: flex;
    border: 2px solid black;
}

.header.container.secondary {
    background-color: #a1a1a1;
}

.header.logo, .action-call.title {
    font-size: 24px;
    font-weight: 800;
    flex-direction: column;
    flex: 1;
    padding-left: 0px;
    padding-right: 0px;
}

.button {
    flex: 1;
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    padding-left: 0px;
    padding-right: 0px;
}

.info {
    flex-direction: column;
    color: #1F2937;
    font-size: 18px;
    border: 2px solid black;
    justify-content: center;
    height: 400px;
}

.info.container {
    display: flex;
    flex-direction: row;
}

.info.container div {
    display: flex;
    flex-direction: column;
}

.info.header {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.imgbox {
    width: 20px;
    height: 20px;
    border: 2px solid #3882F6;
    border-radius: 5;
    display: flex;
    align-self: center;
}

.quote {
    background-color: #E5E7EB;
    flex-direction: column;
    text-align: right;
    font-size: 24px;
    font-weight: 800;
    height: 400px;
}

.quote.text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

.action-call {
    justify-content: center;
    height: 400px;
}

.action-call.container {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    flex: 1;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
}

.action-call.title p {
    font-size: 18px;
    font-weight: normal;
}

.button.action-call {
    border-color: #F9FAF8;
    flex: 1;
}

.footer {
    justify-content: center;
}

a:active {
    color: #E5E7EB;
}
